.home {
    height: 100vh;
    
  }
  
  .wallpaper {
    height:100vh;
  }
 /* Adjust layout for larger screens */
.home-data {
  display: flex;
  align-items: center;
}

.home-text {
  width: 50%; /* Take up half of the available width */
  padding-left: 40px;
  padding-bottom: 70px;
}

.home-img-btn-container {
  width: 40%; /* Take up the other half of the available width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}
  
  
  .intro-text {
    /* width: 654px; */
    height: 157px;
    flex-shrink: 0;
    color: #fff;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Reset margin */
    margin-top: 2vh;
}
  /* Style for the image container */
  .home-img-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; /* Adjust the padding as needed */
  margin-left: 23px;
  margin-top:10vh;
  }
  
  /* Style for the image itself */
  .home-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px 125px 13px 20px;
  /* margin-left: 115px; */
  padding-top: 40px;
  }
  .software-title {
    /* width: 652px; */
    height: 141px;
    flex-shrink: 0;
    display: flex; /* Display as flex to align spans horizontally */
    align-items: center; /* Align spans vertically */
    margin-top: 12vh;
}

.white-text {
    color: #fff;
    font-family: Poppins;
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.red-text {
    color: #900707;
    font-family: Poppins;
    font-size: 53px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0; /* Reset margin for spans */
}
  
 /*style for the buttons */

.button1 {
  background: rgba(128, 128, 128, 0.562);
  color: #fff;
  width: 15vh;
  height: 6vh;
  margin-top: 20px;
}

.button2 {
  background: #900707cc;
  color: #000;
  border: 2px solid #000;
  margin-top: 20px;
  width: 15vh;
  height: 6vh;
} 
.button{
  margin-left: 7vh;
}
  
 /* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .home-data {
    flex-direction: column;
    align-items: center;
  }
  .content {
    margin-bottom: 220px;
  }
  .home-text {
    width: fit-content;
    text-align: center;
    margin-right: 40px;
  }
  .red-text{
    font-size: 35px;
  }
  .white-text{
    font-size: 30px;
  } 
  .home-img-btn-container {
    width: 85%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin-top: -11vh; 
  }
  .buttons-desktop {
    position: absolute;
    bottom: -20%;
  }
  .home {
    height: 100vh;
    background: rgba(58, 84, 122, 0.98);
  }
  .wallpaper {
    height:200vh;
  }

}

.buttons-desktop{
  display: flex;
}
