/* Common styles for .home and .wallpaper */
.home,
.wallpaper {
  height: 100vh;
}

/* Adjust layout for larger screens */
.home-data {
  display: flex;
  align-items: center;
}

.home-text {
  width: 50%;
  padding-left: 40px;
  padding-bottom: 70px;
}

.home-img-btn-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

.intro-text {
  height: 157px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  margin-top: 2vh;
}

/* Style for the image container */
.home-img-btn-container {
  padding: 2rem; /* Adjust the padding as needed */
  margin-left: 23px;
  margin-top: 10vh;
}

/* Style for the image itself */
.home-image {
  max-width: 100%;
  height: auto;
  border-radius: 20px 125px 13px 20px;
  padding-top: 40px;
}

.software-title {
  height: 141px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-top: 12vh;
}

.white-text {
  color: #fff;
  font-family: Poppins;
  font-size: 5rem;
  font-weight: 700;
}

.red-text {
  color: #900707;
  font-family: Poppins;
  font-size: 53px;
  font-weight: 700;
  margin: 0;
}

/* Style for the buttons */
.button1,
.button2 {
  width: 15vh;
  height: 6vh;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none; /* Add this to remove the underline for buttons */
}

.button1 {
  background: rgba(128, 128, 128, 0.562);
  color: #fff;
}

.button2 {
  background: #900707cc;
  color: #000;
  border: 2px solid #000;
}

.button {
  margin-left: 1vh;
}

/* Media query for smaller screen sizes */
@media (max-width: 768px) {
  .home-data {
    flex-direction: column;
    align-items: center;
  }

  .content {
    margin-bottom: 220px;
    width: 100%;
  }

  .home-text {
    width: 100%; /* Adjusted to take full width on smaller screens */
    text-align: center;
    padding: 20px;
  }

  .red-text,
  .white-text {
    font-size: 23px; /* Adjust font size for readability on smaller screens */
  }

  .home-img-btn-container {
    width: 85%;
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    margin-top: -11vh;
  }

  .buttons-desktop {
    position: relative;
    margin-left: 0;
  }

  .home,
  .wallpaper {
    height: auto; /* Adjusted to make it responsive */
  }
}

/* Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .content {
    width: 100%;
    height: fit-content;
  }
}

.buttons-desktop {
  display: flex;
}
