/* Common styles for all devices */
*, *::after, *::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Use space-between to separate brand and menu */
    height: 8vh;
    background: #0f1e33;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav__brand {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 75vh; /* Move the brand to the left */
    font-size: 24px; /* Add font size */
}

.nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    margin-right: 30px; /* Adjust as needed to move the menu a little to the left */
}

/* Style the active nav-link differently */
.nav__menu a.active {
    color: #ca7d7d;
    font-weight: bold;
}

.nav__toggler div {
    width: 2.5rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: #fff;
    transition: 0.4s ease-in;
}

.nav__toggler {
    cursor: pointer;
    display: none;
}

/* Media query for devices with max-width 768px (e.g., iPhone SE, XR, 12 Pro, Pixel 5) */
@media screen and (max-width: 768px) {
    .nav__toggler {
        display: block;
    }

    .nav__menu {
        position: absolute;
        top: 8vh;
        right: 0; /* Position the menu on the right */
        width: 60%; /* Set the width to 60% to cover the screen */
        background: #1e3658;
        flex-direction: column;
        transform: translateX(100%);
        transition: 0.5s ease-in;
        z-index: 1000;
        margin-right: 0;
        height: auto;
        max-height: 0;
        overflow: hidden;
    }
    
    .nav__active .nav__menu {
        transform: translateX(0);
        max-height: 100%;
    }

    .toggle .line1,
    .toggle .line3 {
        transform: rotate(-45deg) translate(-3px, 5px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    /* Toggler icon animation */
    .toggle .line1 {
        transform: rotate(-45deg) translate(-3px, 5px);
    }

    .toggle .line2 {
        opacity: 0;
    }

    .toggle .line3 {
        transform: rotate(45deg) translate(-3px, -5px);
    }

    /* Toggler icon animation for active state */
    .nav__active .toggle .line1 {
        transform: rotate(50deg) translate(7px, 7px);
    }

    .nav__active .toggle .line2 {
        opacity: 0;
    }

    .nav__active .toggle .line3 {
        transform: rotate(-45deg) translate(2.5px, 0);
    }
}
