/* Default styles for the navigation bar */
.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #101e31;
  padding: 15px 20px;
  color: #fff;
  z-index: 1000;
}

.navbar-logo img {
  width: 40px;
  height: auto;
  margin-left: 10px;
  border-radius: 100%;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu ul {
  list-style: none;
  margin-right: 10px;
  padding: 15px;
  display: flex;
  font-weight: bold;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #f0a500;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

/* Media query for small devices */
@media (max-width: 768px) {
  .navbar{
    width: 100%;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #264674;
    width: 100%;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  .navbar-menu ul {
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
    height: 60vh; /* Adjust the height as needed */
    padding: 0;
    
  }

  .navbar-menu.open {
    max-height: 20vh;
    display: flex;
    flex-direction: column;
  }

  .navbar-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2vh;
  }

  .navbar-toggle.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-2px, 3px);
  }

  .navbar-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-9px, -10px);
  }
}
